**/bin/*
**/*.class
.gradle
/build/
book_groovy
!gradle/wrapper/gradle-wrapper.jar
.java-version
classes/
cache/
libs/*
temp/

pid
*.log
.DS_Store

### 临时文件 ###
~$*

### 上传文件 ###
src/main/resources/static/media

application.properties
application.properties.json
config/fileSystems.json
application-base.properties
cschat_api.properties
web_api.properties
call_adviser_api.properties
sub_projects/*/*.properties
spring-devtools.properties
src/main/resources/META_INF/spring-devtools.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/config/passwordBox.json
src/main/generated/
src/test/java/com/qinqinxiaobao/report/BitMap.java
